# Assignment Set 1 - Univariate Analysis

In [103]:
#!pip install matplotlib

In [ ]:
#!pip install seaborn

In [105]:
# import packages
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

### Q1. Compute the mean, median and mode of all the numerical columns

In [106]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93.csv')
df.head()
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000
mean,17.125806,19.509677,21.898925,22.365591,29.086022,2.667742,143.827957,5280.645161,2332.204301,16.664516,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226
std,8.746029,9.659430,11.030457,5.619812,5.331726,1.037363,52.374410,596.731690,496.506525,3.279370,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.800000,12.200000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1985.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000
50%,14.700000,17.700000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000
75%,20.300000,23.300000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2565.000000,18.800000,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [107]:
for columnname in df.select_dtypes(include=np.number):
    print(f'column name: {columnname}')
    print(f'mean is {df[columnname].mean()}, median is {df[columnname].median()} ,mode is {df[columnname].value_counts().tolist()[0]}')

column name: Min.Price
mean is 17.125806451612902, median is 14.7 ,mode is 3
column name: Price
mean is 19.50967741935484, median is 17.7 ,mode is 3
column name: Max.Price
mean is 21.8989247311828, median is 19.6 ,mode is 3
column name: MPG.city
mean is 22.365591397849464, median is 21.0 ,mode is 12
column name: MPG.highway
mean is 29.086021505376344, median is 28.0 ,mode is 11
column name: EngineSize
mean is 2.6677419354838716, median is 2.4 ,mode is 11
column name: Horsepower
mean is 143.8279569892473, median is 140.0 ,mode is 7
column name: RPM
mean is 5280.645161290323, median is 5200.0 ,mode is 14
column name: Rev.per.mile
mean is 2332.2043010752686, median is 2340.0 ,mode is 3
column name: Fuel.tank.capacity
mean is 16.664516129032258, median is 16.4 ,mode is 9
column name: Passengers
mean is 5.086021505376344, median is 5.0 ,mode is 41
column name: Length
mean is 183.20430107526883, median is 183.0 ,mode is 5
column name: Wheelbase
mean is 103.94623655913979, median is 103.0 ,mode is 9
column name: Width
mean is 69.3763440860215, median is 69.0 ,mode is 15
column name: Turn.circle
mean is 38.956989247311824, median is 39.0 ,mode is 11
column name: Rear.seat.room
mean is 27.82967032967033, median is 27.5 ,mode is 9
column name: Luggage.room
mean is 13.890243902439025, median is 14.0 ,mode is 18
column name: Weight
mean is 3072.9032258064517, median is 3040.0 ,mode is 2

In [108]:
#solution
#function to get mean, median and mode of all numeric coulmns of a DF
def centralTendancy(df):
    for columnname in df.select_dtypes(include=np.number):
        print(f'column name: {columnname}')
        print(f'mean is {df[columnname].mean()}, median is {df[columnname].median()} ,mode is {df[columnname].value_counts().tolist()[0]}')

In [109]:
centralTendancy(df)

column name: Min.Price
mean is 17.125806451612902, median is 14.7 ,mode is 3
column name: Price
mean is 19.50967741935484, median is 17.7 ,mode is 3
column name: Max.Price
mean is 21.8989247311828, median is 19.6 ,mode is 3
column name: MPG.city
mean is 22.365591397849464, median is 21.0 ,mode is 12
column name: MPG.highway
mean is 29.086021505376344, median is 28.0 ,mode is 11
column name: EngineSize
mean is 2.6677419354838716, median is 2.4 ,mode is 11
column name: Horsepower
mean is 143.8279569892473, median is 140.0 ,mode is 7
column name: RPM
mean is 5280.645161290323, median is 5200.0 ,mode is 14
column name: Rev.per.mile
mean is 2332.2043010752686, median is 2340.0 ,mode is 3
column name: Fuel.tank.capacity
mean is 16.664516129032258, median is 16.4 ,mode is 9
column name: Passengers
mean is 5.086021505376344, median is 5.0 ,mode is 41
column name: Length
mean is 183.20430107526883, median is 183.0 ,mode is 5
column name: Wheelbase
mean is 103.94623655913979, median is 103.0 ,mode is 9
column name: Width
mean is 69.3763440860215, median is 69.0 ,mode is 15
column name: Turn.circle
mean is 38.956989247311824, median is 39.0 ,mode is 11
column name: Rear.seat.room
mean is 27.82967032967033, median is 27.5 ,mode is 9
column name: Luggage.room
mean is 13.890243902439025, median is 14.0 ,mode is 18
column name: Weight
mean is 3072.9032258064517, median is 3040.0 ,mode is 2

### 2. Compute the variance and IQR of all the numerical columns

In [110]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93.csv')
df.head()
df.describe()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,93.000000,91.000000,82.000000,93.000000
mean,17.125806,19.509677,21.898925,22.365591,29.086022,2.667742,143.827957,5280.645161,2332.204301,16.664516,5.086022,183.204301,103.946237,69.376344,38.956989,27.829670,13.890244,3072.903226
std,8.746029,9.659430,11.030457,5.619812,5.331726,1.037363,52.374410,596.731690,496.506525,3.279370,1.038979,14.602382,6.819674,3.778986,3.223265,2.989072,2.997967,589.896510
min,6.700000,7.400000,7.900000,15.000000,20.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.800000,12.200000,14.700000,18.000000,26.000000,1.800000,103.000000,4800.000000,1985.000000,14.500000,4.000000,174.000000,98.000000,67.000000,37.000000,26.000000,12.000000,2620.000000
50%,14.700000,17.700000,19.600000,21.000000,28.000000,2.400000,140.000000,5200.000000,2340.000000,16.400000,5.000000,183.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3040.000000
75%,20.300000,23.300000,25.300000,25.000000,31.000000,3.300000,170.000000,5750.000000,2565.000000,18.800000,6.000000,192.000000,110.000000,72.000000,41.000000,30.000000,15.000000,3525.000000
max,45.400000,61.900000,80.000000,46.000000,50.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

In [111]:
#solution
#function to get variance, IQR of all numeric coulmns of a DF
def Dispersion(df):
    for columnname in df.select_dtypes(include=np.number):
        print(f'column name: {columnname}')
        Q3= np.percentile(df[columnname],75,interpolation='midpoint')
        Q1=np.percentile(df[columnname],25,interpolation='midpoint')                 
        print(f'variance is {df[columnname].var()}, IQF is {Q3-Q1}')

In [112]:
Dispersion(df)

column name: Min.Price
variance is 76.49302244039269, IQF is 9.5
column name: Price
variance is 93.30457924263672, IQF is 11.100000000000001
column name: Max.Price
variance is 121.67097709209914, IQF is 10.600000000000001
column name: MPG.city
variance is 31.582281439925207, IQF is 7.0
column name: MPG.highway
variance is 28.427302477793365, IQF is 5.0
column name: EngineSize
variance is 1.076122019635344, IQF is 1.4999999999999998
column name: Horsepower
variance is 2743.0787751285648, IQF is 67.0
column name: RPM
variance is 356088.7096774193, IQF is 950.0
column name: Rev.per.mile
variance is 246518.72954651716, IQF is 580.0
column name: Fuel.tank.capacity
variance is 10.754270687237025, IQF is 4.300000000000001
column name: Passengers
variance is 1.0794763908368383, IQF is 2.0
column name: Length
variance is 213.22954651706397, IQF is 18.0
column name: Wheelbase
variance is 46.507947639083675, IQF is 12.0
column name: Width
variance is 14.28073866292662, IQF is 5.0
column name: Turn.circle
variance is 10.38943431510052, IQF is 4.0
column name: Rear.seat.room
variance is 8.934554334554342, IQF is nan
column name: Luggage.room
variance is 8.987804878048777, IQF is nan
column name: Weight
variance is 347977.89270687226, IQF is 905.0

C:\Users\maste\AppData\Local\Temp\ipykernel_5324\3070406380.py:1: DeprecationWarning: the `interpolation=` argument to percentile was renamed to `method=`, which has additional options.
Users of the modes 'nearest', 'lower', 'higher', or 'midpoint' are encouraged to review the method they used. (Deprecated NumPy 1.22)
  Dispersion(df)

### 3. Compute the entropy of all the categorical columns

In [113]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [121]:
from math import log, e

In [122]:
def pandas_entropy(column,base=None):
    vc=pd.Series(column).value_counts(normalize=True,sort=False)
    base = e if base is None else base
    return -(vc * np.log(vc)/np.log(base)).sum()

In [123]:
for columnN in df.select_dtypes(exclude=np.number):
    entropy = pandas_entropy(df[columnN])
    print (f' entropy of {columnN} is {entropy}')

 entropy of Manufacturer is 3.278682597035929
 entropy of Model is 4.532599493153256
 entropy of Type is 1.7433737239776324
 entropy of AirBags is 1.0273383924262756
 entropy of DriveTrain is 0.7788180309492593
 entropy of Cylinders is 1.1405962650137758
 entropy of Man.trans.avail is 0.6437085834310707
 entropy of Origin is 0.6926267989248349
 entropy of Make is 4.532599493153256